<!DOCTYPE html>
<html>
  <head>
    <title>🍜 FoodTruckSF</title>
    <%= include_gon %>
  </head>
  <body>
    <div id="user_nav">
      <% if current_user %>
        Welcome <strong><%= current_user.name %></strong>
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>

    <div class=hero></div>

    <div id="panel">
        <h1>find food trucks either by <span>location</span> or <span>food type</span></h1>
      <div class='form-input'>
        <input id="food-type" type="textbox">
        <input id="food-submit" type="button" value="Search by Food Type"> 
        <input id="address" type="textbox" >
        <input id="submit" type="button" value="Search by Location">
      </div>
    </div>

    <div id="map"></div>

    <div class=food-truck>
      <h1>The List of All Food Trucks in SF</h1>
      <% @foods_page.each do |food| %>
        <h3 class='truck-name' ><%= link_to "#{food.name}", food_search_path(food) %></h3>
        <% if current_user %>
          <% if Favorite.where(food_id: food.id, user_id: current_user.id).count > 0 %>
            <%= button_to 'Unfavorite', "/foods/#{food.id}/favorite", :method => :delete, :style=> "margin-left: 20px" %>
          <% else %>
            <%= button_to 'Favorite', "/foods/#{food.id}/favorite", :style=> "margin-left: 20px" %>
          <% end %>
        <% end %>
        <p><%= food.fooditems %><p>
          <% if Review.where(food_id: food.id).count > 0 %>
            <% reviews = Review.where(food_id: food.id) %>
            <% reviews.each do |review| %>
             <p><%= "🍭" * review.rating %> |
             <%= review.comment %><p>
            <% end %>
          <% end %>
        <% if current_user %>
          <%= form_for @review, url: reviews_path(food, current_user) do |f| %>
            <p>Rating: <%= f.text_field :rating %>
            Comment: <%= f.text_field :comment %>
            <%= f.submit "Review" %></p>
          <% end %>
        <% end %>
      <% end %>
      <div class=pagination>
        <%= will_paginate @foods_page %>
      </div>
    </div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACTrStuIQk7xfQkQvdUYTApYyq-4guyw8&callback=initMap">
    </script>
  </body>
  <hr>
  <footer>
    <p>Created By <strong>Sarah Kwak 2015</strong></p>
    <p>Please <a href='kwasy001@gmail.com'>contact me</a> with any questions about the app</p>
    <p>You can review the code via my <a href='https://github.com/sarahkwak/foodtrucksf'>GitHub Account</a></p>
  </footer>
</html>